services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Arqui2025!
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
      - ./scripts:/docker-entrypoint-initdb.d
    restart: unless-stopped

  personapi:
    build:
      context: ./personapi-dotnet
      dockerfile: Dockerfile
    container_name: personapi_dotnet
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - sqlserver
    restart: unless-stopped

volumes:
  sql_data: